{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader256.png",
      "fileBody" : "/interface/chests/slots129to256.png",
      "fileFooter" : "/interface/chests/chestfooter256.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 312],	//231+76 -> 236+76
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [138, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 271],	//183+76  -> 195+76
      "dimensions" : [13, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 52,
      "dimensions" : [17, 12],	//231+76
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [204, 348]	//[80+6.5*19, 260+76 -> 272+76]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [313, 365]
    }
  }
}
