{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader128.png",
      "fileBody" : "/interface/chests/slots65to128.png",
      "fileFooter" : "/interface/chests/chestfooter128.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 236],	//198+38
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [91, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 195],	//157+38
      "dimensions" : [8, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 32,
      "dimensions" : [12, 8],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [156, 272]	//[80+4*19, 222+38 -> 234+38]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [219, 289]
    }
  }
}
